body{
  background-color: #000!important;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-10;

}

hr.new1 {
    border-top: 1px solid rgb(255, 255, 255);
  }
  .h1-c1{
    position:relative;
    padding-top:150px;
    text-align:center;
    font-size:xx-large;
    color: #57ba98;
  }
  .containers{
    background-color: rgba(0, 0, 0, 0.0001);
    display:flex;
    position:relative;
    top:0px;
  
    padding-top:30px;  
    flex-wrap: wrap;
    }  
    .item1{
       background-image: linear-gradient(to right, #243949 0%, #517fa4 100%)!important;
        border-radius:10px;
        display:flex;
        align-items: center;
        justify-content:flex-start;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .item2{
      border-radius:10px;
      font-family: 'Alkatra', cursive;
      font-family: 'Allerta Stencil', sans-serif;
      font-family: 'Dancing Script', cursive;
      font-family: 'Merienda', cursive;
      font-family: 'Monomaniac One', sans-serif;
      font-family: 'Ropa Sans', sans-serif;
      font-family: 'Sriracha', cursive;
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      
    
  }
  
  .i1{
      position:relative;
      margin:30px;
      perspective: 1000px;
      background-color: transparent;
      border-radius:10px;
  }
  @media screen and (max-width:500px){
    .imgbck{
      height:250px;
    }
    .i1 img{
      width:220px;
      height: 330px;
      border-radius:10px;
    }
    .item1{
      margin:20px;
      width:250px;
    }
    .containers{
      justify-content:space-around;
    }
    .item2{
      margin-left:3px;
      justify-content: space-around;
      width:250px;
    }
    #backBtn,#nextBtn{
      padding-right:7px;
      padding-left:7px;
      width:45px;
      height:40px;
      cursor:pointer;
      position: relative;
      align-self: center;
      filter: contrast(100%);
    }
    .tag{
      max-width:120px;
      margin-left:10px;
      margin-right:5px;
      font-size:x-large;
      line-height:30px;
      -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    .book{
      height:200px;
    }
    .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
      width:140px;
    }
    .button-30 {
      font-size: 8px;;
    }
  }
  @media screen and (min-width:500px){
    .imgbck{
      height:500px;
    }
    .i1 img{
      width:280px;
      height:420px;
      border-radius:10px;
    }
    .containers{
      justify-content:space-around;
    }
    .item1{
      margin:50px;
    }
    .item2{
      margin-left:50px;
      margin-right:50px;
      justify-content: space-around;
      width:270px;
    }
    #backBtn,#nextBtn{
      padding:40px;
      width:120px;
      height:120px;
      cursor:pointer;
      position: relative;
      align-self: center;
    }
    .item1{
        width:500px;
        height:330px;
    }
    .tag{
      max-width:230px;
      margin-left:30px;
      margin-right:10px;
      font-size:47px;
      line-height:60px;
      -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    .book{
      height:280px;
    }
    .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
      width:200px;
    }
    .button-30 {
      font-size: 12px;;
    }
  }
  
  .i1-inner {
    position:relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .i1:hover .i1-inner {
    transform: rotateY(180deg);
  }
  .i1-front {
    color: black;
    border-radius:10px;
  }
  .i1-back {
    position:absolute;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    top:0;
    left:0;
    transform: rotateY(180deg);
    border-radius:10px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display:grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    columns:1;
  }
    .note{
      position:absolute;
    }
    .Footer{
      position:relative;
    }
  
    .note{
      position:relative;
      bottom:20px;
      color:antiquewhite;
      font-size:large;
      max-width:300px;
      text-align: center;
    }
    .left-image-decor {
      background-image: url(../images/left-bg-decor.png);
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      display: inline-block;
      height: 110%;
      margin-top: 800px;
    }
   
    .right-image-decor {
      background-image: url(../images/right-bg-decor.png);
      background-repeat: no-repeat;
      background-position: right center;
      position: absolute;
      width: 100%;
      display: inline-block;
      height: 110%;
      margin-top: 280px;
    }
  
  

  .new2 {
    border-top: 1px solid rgb(255, 252, 252);
    position:relative;
    bottom:-100px;
  }
  
  .button-30 {
    padding: 1.3em 3em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom:20px;
  }
  
  .button-30:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button-30:active {
    transform: translateY(-1px);
    
  }
  
  .containers2{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%)!important;
    display:flex;
    position:relative;
    top:0px;
    padding-top:20px; 
    overflow-x:scroll;
    border-radius:30px;
   
  }
   .containers2::-webkit-scrollbar{
    display:none;
  }
  .fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  
  .heading2{
    position:relative;
    text-align: center;
    color: #57ba98;
    top:15px;
    padding:20px;
  }
  .big-c{
    display:flex;
    justify-content:center;
    margin-top:40px;
    padding-bottom:40px;
  
  }
  .new3 {
    border-top: 1px solid rgb(255, 252, 252);
    position:relative;
  
  }
  
  /* opening book*/
  .open{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
  }
  .book {
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    backface-visibility: visible;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
    background-size: cover;
  }
  
  .front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .page1 { 
    background: #efefef;
  }
  
  .page2 {
    background: #efefef;
  }
  
  .page3 {
    background: #f5f5f5;
  }
  
  .page4 {
    background: #f5f5f5;
  }
  
  .page5 {
    background-image:url(../images/in.png);
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .b1{
    transform: scale(-1,1);
    color: #1e1e1e;
  }
  
  .page6 {
    background-image:url(../images/in.png);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .book:hover .front {
    transform: rotateY(-160deg) ;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page1 {
    transform: rotateY(-150deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page2 {
    transform: rotateY(-30deg) ;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page3 {
    transform: rotateY(-140deg) ;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page4 {
    transform: rotateY(-40deg) ;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page5 {
    transform: rotateY(-130deg) ;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page6 {
    transform: rotateY(-50deg) ;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .back {
    transform: rotateY(-20deg) ;
  }

  h1{
    font-weight: 900;
    font-size: 52px;
    line-height: 80px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #faf5f5;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  p {
    font-weight: 300;
    font-size: 17px;
    color: #c4c3c3;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
  }
  h1 em{
    font-style: normal;
    color: #57ba98;
  }
  /*opening book*/

  @media (max-width:500px) {
    .logoend{
      display: none;
    }
  }
  @media (min-width:500px){
    .logoend{
      display: block;
      height:500px;
      width:500px;
    }
  }
